html, body {
  height: 100%;
  margin: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content img {
  display: block;
  margin: 8px auto;
  border-radius: 4px;
}

/* .cross-marker {
    width: 20px;
    height: 20px;
    position: relative;
}

.cross-marker::before,
.cross-marker::after {
    content: "";
    position: absolute;
    background: darkred;
}

.cross-marker::before {
    width: 20px;
    height: 3px;
    top: 8px;
    left: 0;
}

.cross-marker::after {
    height: 20px;
    width: 3px;
    left: 8px;
    top: 0; 
}
*/


