html, body {
  height: 100%;
  margin: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content img {
  display: block;
  margin: 8px auto;
  border-radius: 4px;
}

.church-icon {
  font-size: 32px;
  color: darkred;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}





